<!DOCTYPE html>
<html lang="fr">
<head>
    <title>FakeBook</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/header.css' />
</head>
<h1><a href="/">Revenir à l'accuil</a></h1>
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
<% include footer.ejs%>
