<% include header2%>

<div class="container">
    <h1>Oups O_O'! Nous avons rencontré une erreur <%= error.status %> : <%= message %></h1>
    <pre><%= error.stack %></pre>
    <div class="text-center">
        <a href="/" class="btn btn-success btn-lg " >Revenir à l'accueil</a>
    </div>

</div>


<% include footer%>
